ProyectoBatallaNaval/Connected Services/ServicioAServidor/AdminUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AdminUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiUsuarios_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiSocial_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminiUsuarios_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_RegistarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_RegistarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_CambiarContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarContraseña" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_CambiarContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_RecuperarJugadorPorCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarJugadorPorCorreo" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_RecuperarJugadorPorCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarJugadorPorCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_RecuperarListaDeAmigos_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarListaDeAmigos" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_RecuperarListaDeAmigos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarListaDeAmigosResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_AñadirAmigo_InputMessage">
    <wsdl:part name="parameters" element="tns:AñadirAmigo" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_AñadirAmigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AñadirAmigoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_Conectado_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectado" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_Desconectado_InputMessage">
    <wsdl:part name="parameters" element="tns:Desconectado" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_CrearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_UnirseASala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseASala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TodoListo_InputMessage">
    <wsdl:part name="parameters" element="tns:TodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_CancelarTodoListo_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarTodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_EliminarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_Tiro_InputMessage">
    <wsdl:part name="parameters" element="tns:Tiro" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_IniciarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TerminarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminarPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PrimerTiro_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiro" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarCallbackEnPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCallbackEnPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PartidaGanada_InputMessage">
    <wsdl:part name="parameters" element="tns:PartidaGanada" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TiroCertero_InputMessage">
    <wsdl:part name="parameters" element="tns:TiroCertero" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_CerrarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarJuego" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ExpulsarDeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpulsarDeSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarJugadores_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarJugadores" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_UnionDeJugador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UnionDeJugador" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_JugadorSeFue_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JugadorSeFue" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_EscribiendoEnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EscribiendoEnCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirMensaje_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirCodigoSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirCodigoSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirCodigoSala_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirCodigoSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_JugadorSeUnio_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JugadorSeUnio" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_JugadorSeUnio_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JugadorSeUnioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirTodoListo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirTodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirTodoListo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirTodoListoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirTodoListoParaIniciar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirTodoListoParaIniciar" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirTodoListoParaIniciar_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirTodoListoParaIniciarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirCancelarListo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirCancelarListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirCancelarListo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirCancelarListoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_InsertarDisparo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:InsertarDisparo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_InsertarDisparo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:InsertarDisparoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_IniciarPartidaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_IniciarPartidaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PrimerTiroCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiroCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PrimerTiroCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiroCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PartidaGanadaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartidaGanadaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PartidaGanadaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartidaGanadaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarCallbackEnPartidaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCallbackEnPartidaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarCallbackEnPartidaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCallbackEnPartidaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TiroCerteroCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TiroCerteroCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TiroCerteroCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TiroCerteroCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirExpulsacion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirExpulsacion" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirExpulsacion_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirExpulsacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminiUsuarios">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/IniciarSesion" message="tns:IAdminiUsuarios_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/IniciarSesionResponse" message="tns:IAdminiUsuarios_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/RegistarUsuario" message="tns:IAdminiUsuarios_RegistarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/RegistarUsuarioResponse" message="tns:IAdminiUsuarios_RegistarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/CambiarContraseña" message="tns:IAdminiUsuarios_CambiarContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/CambiarContraseñaResponse" message="tns:IAdminiUsuarios_CambiarContraseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarJugadorPorCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/RecuperarJugadorPorCorreo" message="tns:IAdminiUsuarios_RecuperarJugadorPorCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/RecuperarJugadorPorCorreoResponse" message="tns:IAdminiUsuarios_RecuperarJugadorPorCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarListaDeAmigos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/RecuperarListaDeAmigos" message="tns:IAdminiUsuarios_RecuperarListaDeAmigos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/RecuperarListaDeAmigosResponse" message="tns:IAdminiUsuarios_RecuperarListaDeAmigos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AñadirAmigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/AñadirAmigo" message="tns:IAdminiUsuarios_AñadirAmigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/AñadirAmigoResponse" message="tns:IAdminiUsuarios_AñadirAmigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdminiSocial">
    <wsdl:operation name="Conectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/Conectado" message="tns:IAdminiSocial_Conectado_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Desconectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/Desconectado" message="tns:IAdminiSocial_Desconectado_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/EnviarMensaje" message="tns:IAdminiSocial_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/CrearSala" message="tns:IAdminiSocial_CrearSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/UnirseASala" message="tns:IAdminiSocial_UnirseASala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodoListo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TodoListo" message="tns:IAdminiSocial_TodoListo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarTodoListo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/CancelarTodoListo" message="tns:IAdminiSocial_CancelarTodoListo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/EliminarSala" message="tns:IAdminiSocial_EliminarSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/Tiro" message="tns:IAdminiSocial_Tiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/IniciarPartida" message="tns:IAdminiSocial_IniciarPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TerminarPartida" message="tns:IAdminiSocial_TerminarPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimerTiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PrimerTiro" message="tns:IAdminiSocial_PrimerTiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartida" message="tns:IAdminiSocial_ActualizarCallbackEnPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartidaGanada">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PartidaGanada" message="tns:IAdminiSocial_PartidaGanada_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TiroCertero">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TiroCertero" message="tns:IAdminiSocial_TiroCertero_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/CerrarJuego" message="tns:IAdminiSocial_CerrarJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpulsarDeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/ExpulsarDeSala" message="tns:IAdminiSocial_ExpulsarDeSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarJugadores">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarJugadores" message="tns:IAdminiSocial_ActualizarJugadores_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnionDeJugador">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/UnionDeJugador" message="tns:IAdminiSocial_UnionDeJugador_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="JugadorSeFue">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/JugadorSeFue" message="tns:IAdminiSocial_JugadorSeFue_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EscribiendoEnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/EscribiendoEnCallback" message="tns:IAdminiSocial_EscribiendoEnCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirMensaje" message="tns:IAdminiSocial_RecibirMensaje_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirMensajeResponse" message="tns:IAdminiSocial_RecibirMensaje_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirCodigoSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirCodigoSala" message="tns:IAdminiSocial_RecibirCodigoSala_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirCodigoSalaResponse" message="tns:IAdminiSocial_RecibirCodigoSala_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="JugadorSeUnio">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/JugadorSeUnio" message="tns:IAdminiSocial_JugadorSeUnio_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/JugadorSeUnioResponse" message="tns:IAdminiSocial_JugadorSeUnio_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirTodoListo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirTodoListo" message="tns:IAdminiSocial_RecibirTodoListo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirTodoListoResponse" message="tns:IAdminiSocial_RecibirTodoListo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirTodoListoParaIniciar">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirTodoListoParaIniciar" message="tns:IAdminiSocial_RecibirTodoListoParaIniciar_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirTodoListoParaIniciarResponse" message="tns:IAdminiSocial_RecibirTodoListoParaIniciar_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirCancelarListo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirCancelarListo" message="tns:IAdminiSocial_RecibirCancelarListo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirCancelarListoResponse" message="tns:IAdminiSocial_RecibirCancelarListo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDisparo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/InsertarDisparo" message="tns:IAdminiSocial_InsertarDisparo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/InsertarDisparoResponse" message="tns:IAdminiSocial_InsertarDisparo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartidaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/IniciarPartidaCallback" message="tns:IAdminiSocial_IniciarPartidaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/IniciarPartidaCallbackResponse" message="tns:IAdminiSocial_IniciarPartidaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimerTiroCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/PrimerTiroCallback" message="tns:IAdminiSocial_PrimerTiroCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PrimerTiroCallbackResponse" message="tns:IAdminiSocial_PrimerTiroCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartidaGanadaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/PartidaGanadaCallback" message="tns:IAdminiSocial_PartidaGanadaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PartidaGanadaCallbackResponse" message="tns:IAdminiSocial_PartidaGanadaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartidaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartidaCallback" message="tns:IAdminiSocial_ActualizarCallbackEnPartidaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartidaCallbackResponse" message="tns:IAdminiSocial_ActualizarCallbackEnPartidaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="TiroCerteroCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/TiroCerteroCallback" message="tns:IAdminiSocial_TiroCerteroCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TiroCerteroCallbackResponse" message="tns:IAdminiSocial_TiroCerteroCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirExpulsacion">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirExpulsacion" message="tns:IAdminiSocial_RecibirExpulsacion_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirExpulsacionResponse" message="tns:IAdminiSocial_RecibirExpulsacion_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdminiUsuarios" type="tns:IAdminiUsuarios">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiUsuarios_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/RegistarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarContraseña">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/CambiarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarJugadorPorCorreo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/RecuperarJugadorPorCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListaDeAmigos">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/RecuperarListaDeAmigos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AñadirAmigo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/AñadirAmigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAdminiSocial" type="tns:IAdminiSocial">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiSocial_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Conectado">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/Conectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Desconectado">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/Desconectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CrearSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/CrearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnirseASala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/UnirseASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelarTodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/CancelarTodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EliminarSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/EliminarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Tiro">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/Tiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/IniciarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TerminarPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TerminarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PrimerTiro">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PrimerTiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PartidaGanada">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PartidaGanada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TiroCertero">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TiroCertero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CerrarJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/CerrarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExpulsarDeSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ExpulsarDeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ActualizarJugadores">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ActualizarJugadores" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnionDeJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/UnionDeJugador" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JugadorSeFue">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/JugadorSeFue" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EscribiendoEnCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/EscribiendoEnCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirCodigoSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirCodigoSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JugadorSeUnio">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/JugadorSeUnio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirTodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirTodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirTodoListoParaIniciar">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirTodoListoParaIniciar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirCancelarListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirCancelarListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDisparo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/InsertarDisparo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartidaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/IniciarPartidaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrimerTiroCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PrimerTiroCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartidaGanadaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PartidaGanadaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartidaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartidaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TiroCerteroCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TiroCerteroCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirExpulsacion">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirExpulsacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminUsuarios">
    <wsdl:port name="NetTcpBinding_IAdminiUsuarios" binding="tns:NetTcpBinding_IAdminiUsuarios">
      <soap12:address location="net.tcp://192.168.1.68:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.68:8081/ServicioConWCFJuego</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAdminiSocial" binding="tns:NetTcpBinding_IAdminiSocial">
      <soap12:address location="net.tcp://192.168.1.68:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.68:8081/ServicioConWCFJuego</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>