ProyectoBatallaNaval/Connected Services/ServicioAServidor/AdminUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AdminUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiUsuarios_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiSocial_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.68:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminiUsuarios_iniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:iniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_iniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:iniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_registarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:registarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_registarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:registarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_cambiarContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:cambiarContraseña" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_cambiarContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:cambiarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_recuperarJugadorPorCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarJugadorPorCorreo" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_recuperarJugadorPorCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarJugadorPorCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_Conectado_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectado" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_desconectado_InputMessage">
    <wsdl:part name="parameters" element="tns:desconectado" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_enviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:enviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_crearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:crearSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_unirseASala_InputMessage">
    <wsdl:part name="parameters" element="tns:unirseASala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_todoListo_InputMessage">
    <wsdl:part name="parameters" element="tns:todoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_cancelarTodoListo_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelarTodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_EliminarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_Tiro_InputMessage">
    <wsdl:part name="parameters" element="tns:Tiro" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_IniciarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TerminarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminarPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PrimerTiro_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiro" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarCallbackEnPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCallbackEnPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PartidaGanada_InputMessage">
    <wsdl:part name="parameters" element="tns:PartidaGanada" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TiroCertero_InputMessage">
    <wsdl:part name="parameters" element="tns:TiroCertero" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_CerrarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarJuego" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ExpulsarDeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpulsarDeSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_actualizarJugadores_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:actualizarJugadores" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_unionDeJugador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:unionDeJugador" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_jugadorSeFue_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:jugadorSeFue" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_escribiendoEnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:escribiendoEnCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirMensaje_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCodigoSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCodigoSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCodigoSala_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCodigoSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_jugadorSeUnio_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:jugadorSeUnio" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_jugadorSeUnio_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:jugadorSeUnioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListoParaIniciar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListoParaIniciar" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListoParaIniciar_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListoParaIniciarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCancelarListo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCancelarListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCancelarListo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCancelarListoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_insertarDisparo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:insertarDisparo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_insertarDisparo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:insertarDisparoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_IniciarPartidaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_IniciarPartidaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_primerTiroCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:primerTiroCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_primerTiroCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:primerTiroCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PartidaGanadaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartidaGanadaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_PartidaGanadaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartidaGanadaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarCallbackEnPartidaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCallbackEnPartidaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_ActualizarCallbackEnPartidaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCallbackEnPartidaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TiroCerteroCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TiroCerteroCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_TiroCerteroCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TiroCerteroCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirExpulsacion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirExpulsacion" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_RecibirExpulsacion_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirExpulsacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminiUsuarios">
    <wsdl:operation name="iniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/iniciarSesion" message="tns:IAdminiUsuarios_iniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/iniciarSesionResponse" message="tns:IAdminiUsuarios_iniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/registarUsuario" message="tns:IAdminiUsuarios_registarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/registarUsuarioResponse" message="tns:IAdminiUsuarios_registarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cambiarContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/cambiarContraseña" message="tns:IAdminiUsuarios_cambiarContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/cambiarContraseñaResponse" message="tns:IAdminiUsuarios_cambiarContraseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarJugadorPorCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/recuperarJugadorPorCorreo" message="tns:IAdminiUsuarios_recuperarJugadorPorCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/recuperarJugadorPorCorreoResponse" message="tns:IAdminiUsuarios_recuperarJugadorPorCorreo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdminiSocial">
    <wsdl:operation name="Conectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/Conectado" message="tns:IAdminiSocial_Conectado_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="desconectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/desconectado" message="tns:IAdminiSocial_desconectado_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/enviarMensaje" message="tns:IAdminiSocial_enviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/crearSala" message="tns:IAdminiSocial_crearSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="unirseASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/unirseASala" message="tns:IAdminiSocial_unirseASala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="todoListo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/todoListo" message="tns:IAdminiSocial_todoListo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelarTodoListo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/cancelarTodoListo" message="tns:IAdminiSocial_cancelarTodoListo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/EliminarSala" message="tns:IAdminiSocial_EliminarSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/Tiro" message="tns:IAdminiSocial_Tiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/IniciarPartida" message="tns:IAdminiSocial_IniciarPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TerminarPartida" message="tns:IAdminiSocial_TerminarPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimerTiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PrimerTiro" message="tns:IAdminiSocial_PrimerTiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartida" message="tns:IAdminiSocial_ActualizarCallbackEnPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartidaGanada">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PartidaGanada" message="tns:IAdminiSocial_PartidaGanada_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TiroCertero">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TiroCertero" message="tns:IAdminiSocial_TiroCertero_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/CerrarJuego" message="tns:IAdminiSocial_CerrarJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpulsarDeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/ExpulsarDeSala" message="tns:IAdminiSocial_ExpulsarDeSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarJugadores">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/actualizarJugadores" message="tns:IAdminiSocial_actualizarJugadores_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="unionDeJugador">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/unionDeJugador" message="tns:IAdminiSocial_unionDeJugador_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="jugadorSeFue">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/jugadorSeFue" message="tns:IAdminiSocial_jugadorSeFue_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="escribiendoEnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/escribiendoEnCallback" message="tns:IAdminiSocial_escribiendoEnCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="recibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirMensaje" message="tns:IAdminiSocial_recibirMensaje_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirMensajeResponse" message="tns:IAdminiSocial_recibirMensaje_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="recibirCodigoSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCodigoSala" message="tns:IAdminiSocial_recibirCodigoSala_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCodigoSalaResponse" message="tns:IAdminiSocial_recibirCodigoSala_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="jugadorSeUnio">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/jugadorSeUnio" message="tns:IAdminiSocial_jugadorSeUnio_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/jugadorSeUnioResponse" message="tns:IAdminiSocial_jugadorSeUnio_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="recibirTodoListo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListo" message="tns:IAdminiSocial_recibirTodoListo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListoResponse" message="tns:IAdminiSocial_recibirTodoListo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="recibirTodoListoParaIniciar">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListoParaIniciar" message="tns:IAdminiSocial_recibirTodoListoParaIniciar_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListoParaIniciarResponse" message="tns:IAdminiSocial_recibirTodoListoParaIniciar_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="recibirCancelarListo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCancelarListo" message="tns:IAdminiSocial_recibirCancelarListo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCancelarListoResponse" message="tns:IAdminiSocial_recibirCancelarListo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarDisparo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/insertarDisparo" message="tns:IAdminiSocial_insertarDisparo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/insertarDisparoResponse" message="tns:IAdminiSocial_insertarDisparo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartidaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/IniciarPartidaCallback" message="tns:IAdminiSocial_IniciarPartidaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/IniciarPartidaCallbackResponse" message="tns:IAdminiSocial_IniciarPartidaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="primerTiroCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/primerTiroCallback" message="tns:IAdminiSocial_primerTiroCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/primerTiroCallbackResponse" message="tns:IAdminiSocial_primerTiroCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartidaGanadaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/PartidaGanadaCallback" message="tns:IAdminiSocial_PartidaGanadaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/PartidaGanadaCallbackResponse" message="tns:IAdminiSocial_PartidaGanadaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartidaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartidaCallback" message="tns:IAdminiSocial_ActualizarCallbackEnPartidaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartidaCallbackResponse" message="tns:IAdminiSocial_ActualizarCallbackEnPartidaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="TiroCerteroCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/TiroCerteroCallback" message="tns:IAdminiSocial_TiroCerteroCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/TiroCerteroCallbackResponse" message="tns:IAdminiSocial_TiroCerteroCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirExpulsacion">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirExpulsacion" message="tns:IAdminiSocial_RecibirExpulsacion_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/RecibirExpulsacionResponse" message="tns:IAdminiSocial_RecibirExpulsacion_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdminiUsuarios" type="tns:IAdminiUsuarios">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiUsuarios_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="iniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/iniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/registarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarContraseña">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/cambiarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarJugadorPorCorreo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/recuperarJugadorPorCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAdminiSocial" type="tns:IAdminiSocial">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiSocial_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Conectado">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/Conectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="desconectado">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/desconectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="enviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/enviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="crearSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/crearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="unirseASala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/unirseASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="todoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/todoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cancelarTodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/cancelarTodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EliminarSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/EliminarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Tiro">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/Tiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/IniciarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TerminarPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TerminarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PrimerTiro">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PrimerTiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PartidaGanada">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PartidaGanada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TiroCertero">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TiroCertero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CerrarJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/CerrarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExpulsarDeSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ExpulsarDeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="actualizarJugadores">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/actualizarJugadores" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unionDeJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/unionDeJugador" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jugadorSeFue">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/jugadorSeFue" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="escribiendoEnCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/escribiendoEnCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirCodigoSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirCodigoSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jugadorSeUnio">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/jugadorSeUnio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirTodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirTodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirTodoListoParaIniciar">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirTodoListoParaIniciar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirCancelarListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirCancelarListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDisparo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/insertarDisparo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartidaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/IniciarPartidaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="primerTiroCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/primerTiroCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartidaGanadaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/PartidaGanadaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCallbackEnPartidaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/ActualizarCallbackEnPartidaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TiroCerteroCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/TiroCerteroCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirExpulsacion">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/RecibirExpulsacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminUsuarios">
    <wsdl:port name="NetTcpBinding_IAdminiUsuarios" binding="tns:NetTcpBinding_IAdminiUsuarios">
      <soap12:address location="net.tcp://192.168.1.68:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.68:8081/ServicioConWCFJuego</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAdminiSocial" binding="tns:NetTcpBinding_IAdminiSocial">
      <soap12:address location="net.tcp://192.168.1.68:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.68:8081/ServicioConWCFJuego</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>