ProyectoBatallaNaval/Connected Services/ServicioAServidor/AdminUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AdminUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiUsuarios_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiSocial_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminiPartida_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminiUsuarios_iniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:iniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_iniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:iniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_registarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:registarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_registarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:registarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_cambiarContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:cambiarContraseña" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_cambiarContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:cambiarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_recuperarJugadorPorCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarJugadorPorCorreo" />
  </wsdl:message>
  <wsdl:message name="IAdminiUsuarios_recuperarJugadorPorCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarJugadorPorCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_Conectado_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectado" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_estaEscribiendo_InputMessage">
    <wsdl:part name="parameters" element="tns:estaEscribiendo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_desconectado_InputMessage">
    <wsdl:part name="parameters" element="tns:desconectado" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_enviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:enviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_crearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:crearSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_unirseASala_InputMessage">
    <wsdl:part name="parameters" element="tns:unirseASala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_todoListo_InputMessage">
    <wsdl:part name="parameters" element="tns:todoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_cancelarTodoListo_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelarTodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_actualizarJugadores_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:actualizarJugadores" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_unionDeJugador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:unionDeJugador" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_jugadorSeFue_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:jugadorSeFue" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_escribiendoEnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:escribiendoEnCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirMensaje_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCodigoSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCodigoSala" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCodigoSala_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCodigoSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_jugadorSeUnio_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:jugadorSeUnio" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_jugadorSeUnio_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:jugadorSeUnioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListoParaIniciar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListoParaIniciar" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirTodoListoParaIniciar_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirTodoListoParaIniciarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCancelarListo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCancelarListo" />
  </wsdl:message>
  <wsdl:message name="IAdminiSocial_recibirCancelarListo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:recibirCancelarListoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_tiro_InputMessage">
    <wsdl:part name="parameters" element="tns:tiro" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_tiro_OutputMessage">
    <wsdl:part name="parameters" element="tns:tiroResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_IniciarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_IniciarPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_TerminarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminarPartida" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_PrimerTiro_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiro" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_insertarDisparo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:insertarDisparo" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_insertarDisparo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:insertarDisparoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_IniciarPartidaCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_IniciarPartidaCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IniciarPartidaCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_PrimerTiroCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiroCallback" />
  </wsdl:message>
  <wsdl:message name="IAdminiPartida_PrimerTiroCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PrimerTiroCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminiUsuarios">
    <wsdl:operation name="iniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/iniciarSesion" message="tns:IAdminiUsuarios_iniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/iniciarSesionResponse" message="tns:IAdminiUsuarios_iniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/registarUsuario" message="tns:IAdminiUsuarios_registarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/registarUsuarioResponse" message="tns:IAdminiUsuarios_registarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cambiarContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/cambiarContraseña" message="tns:IAdminiUsuarios_cambiarContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/cambiarContraseñaResponse" message="tns:IAdminiUsuarios_cambiarContraseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarJugadorPorCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiUsuarios/recuperarJugadorPorCorreo" message="tns:IAdminiUsuarios_recuperarJugadorPorCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiUsuarios/recuperarJugadorPorCorreoResponse" message="tns:IAdminiUsuarios_recuperarJugadorPorCorreo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IAdminiSocial">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Conectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/Conectado" message="tns:IAdminiSocial_Conectado_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="estaEscribiendo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/estaEscribiendo" message="tns:IAdminiSocial_estaEscribiendo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="desconectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/desconectado" message="tns:IAdminiSocial_desconectado_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="enviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/enviarMensaje" message="tns:IAdminiSocial_enviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="crearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/crearSala" message="tns:IAdminiSocial_crearSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="unirseASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/unirseASala" message="tns:IAdminiSocial_unirseASala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="todoListo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/todoListo" message="tns:IAdminiSocial_todoListo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="cancelarTodoListo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/cancelarTodoListo" message="tns:IAdminiSocial_cancelarTodoListo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="actualizarJugadores">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/actualizarJugadores" message="tns:IAdminiSocial_actualizarJugadores_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="unionDeJugador">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/unionDeJugador" message="tns:IAdminiSocial_unionDeJugador_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="jugadorSeFue">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/jugadorSeFue" message="tns:IAdminiSocial_jugadorSeFue_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="escribiendoEnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/escribiendoEnCallback" message="tns:IAdminiSocial_escribiendoEnCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="recibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirMensaje" message="tns:IAdminiSocial_recibirMensaje_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirMensajeResponse" message="tns:IAdminiSocial_recibirMensaje_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="recibirCodigoSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCodigoSala" message="tns:IAdminiSocial_recibirCodigoSala_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCodigoSalaResponse" message="tns:IAdminiSocial_recibirCodigoSala_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="jugadorSeUnio">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/jugadorSeUnio" message="tns:IAdminiSocial_jugadorSeUnio_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/jugadorSeUnioResponse" message="tns:IAdminiSocial_jugadorSeUnio_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="recibirTodoListo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListo" message="tns:IAdminiSocial_recibirTodoListo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListoResponse" message="tns:IAdminiSocial_recibirTodoListo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="recibirTodoListoParaIniciar">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListoParaIniciar" message="tns:IAdminiSocial_recibirTodoListoParaIniciar_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirTodoListoParaIniciarResponse" message="tns:IAdminiSocial_recibirTodoListoParaIniciar_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="recibirCancelarListo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCancelarListo" message="tns:IAdminiSocial_recibirCancelarListo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiSocial/recibirCancelarListoResponse" message="tns:IAdminiSocial_recibirCancelarListo_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdminiPartida">
    <wsdl:operation name="tiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/tiro" message="tns:IAdminiPartida_tiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiPartida/tiroResponse" message="tns:IAdminiPartida_tiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/IniciarPartida" message="tns:IAdminiPartida_IniciarPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiPartida/IniciarPartidaResponse" message="tns:IAdminiPartida_IniciarPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/TerminarPartida" message="tns:IAdminiPartida_TerminarPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimerTiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/PrimerTiro" message="tns:IAdminiPartida_PrimerTiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarDisparo">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiPartida/insertarDisparo" message="tns:IAdminiPartida_insertarDisparo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/insertarDisparoResponse" message="tns:IAdminiPartida_insertarDisparo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarPartidaCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiPartida/IniciarPartidaCallback" message="tns:IAdminiPartida_IniciarPartidaCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/IniciarPartidaCallbackResponse" message="tns:IAdminiPartida_IniciarPartidaCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimerTiroCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminiPartida/PrimerTiroCallback" message="tns:IAdminiPartida_PrimerTiroCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminiPartida/PrimerTiroCallbackResponse" message="tns:IAdminiPartida_PrimerTiroCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdminiUsuarios" type="tns:IAdminiUsuarios">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiUsuarios_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="iniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/iniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/registarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarContraseña">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/cambiarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarJugadorPorCorreo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiUsuarios/recuperarJugadorPorCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAdminiSocial" type="tns:IAdminiSocial">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiSocial_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Conectado">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/Conectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="estaEscribiendo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/estaEscribiendo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="desconectado">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/desconectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="enviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/enviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="crearSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/crearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="unirseASala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/unirseASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="todoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/todoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cancelarTodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/cancelarTodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="actualizarJugadores">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/actualizarJugadores" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unionDeJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/unionDeJugador" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jugadorSeFue">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/jugadorSeFue" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="escribiendoEnCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/escribiendoEnCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirCodigoSala">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirCodigoSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jugadorSeUnio">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/jugadorSeUnio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirTodoListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirTodoListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirTodoListoParaIniciar">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirTodoListoParaIniciar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirCancelarListo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiSocial/recibirCancelarListo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAdminiPartida" type="tns:IAdminiPartida">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminiPartida_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="tiro">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/tiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/IniciarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminarPartida">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/TerminarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PrimerTiro">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/PrimerTiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="insertarDisparo">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/insertarDisparo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarPartidaCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/IniciarPartidaCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrimerTiroCallback">
      <soap12:operation soapAction="http://tempuri.org/IAdminiPartida/PrimerTiroCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminUsuarios">
    <wsdl:port name="NetTcpBinding_IAdminiUsuarios" binding="tns:NetTcpBinding_IAdminiUsuarios">
      <soap12:address location="net.tcp://localhost:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ServicioConWCFJuego</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-1LU117D4\Victor</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAdminiSocial" binding="tns:NetTcpBinding_IAdminiSocial">
      <soap12:address location="net.tcp://localhost:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ServicioConWCFJuego</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-1LU117D4\Victor</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAdminiPartida" binding="tns:NetTcpBinding_IAdminiPartida">
      <soap12:address location="net.tcp://localhost:8081/ServicioConWCFJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ServicioConWCFJuego</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-1LU117D4\Victor</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>