ProyectoBatallaNaval/Connected Services/ServicioAServidor/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="iniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrase単a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iniciarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiarContrase単a">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiarContrase単aResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cambiarContrase単aResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarJugadorPorCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarJugadorPorCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recuperarJugadorPorCorreoResult" nillable="true" type="q3:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conectado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q4:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="desconectado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q5:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="mensaje" nillable="true" type="q6:Chat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q7:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unirseASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sala" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q8:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="todoListo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDeListos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelarTodoListo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordenadas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contricante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimerTiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugador1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jugador2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCallbackEnPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartidaGanada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="janador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jugadorParaNotificar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TiroCertero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordenadas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contricante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarJugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugadores" nillable="true" type="q9:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unionDeJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q10:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugadorSeFue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q11:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="escribiendoEnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q12:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="respuesta" nillable="true" type="q13:Chat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirCodigoSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirCodigoSalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="jugadorSeUnio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="jugador" nillable="true" type="q14:Jugador" />
        <xs:element minOccurs="0" name="sala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seUnio" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugadorSeUnioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirTodoListo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contricante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirTodoListoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirTodoListoParaIniciar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contricante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirTodoListoParaIniciarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirCancelarListo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contricante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirCancelarListoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarDisparo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordenadas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarDisparoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartidaCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartidaCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="primerTiroCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iniciar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="primerTiroCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PartidaGanadaCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugadorGanado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartidaGanadaCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCallbackEnPartidaCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCallbackEnPartidaCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TiroCerteroCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordenadas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TiroCerteroCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>